/* Web Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    background-color: #F6F6F6;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}


/* General */

h1{
    text-align: center;
    padding-top: 30px;
    font-size: 4em;
    color:#68b0ab;
}
#content>h3{
    color: #c8d5b9;
}

a{
    color: white;
}

a:hover {
    background-color: #68b0ab;
}

a[target="_blank"] {
    text-decoration: none;
}

.card-content>h1{
    font-weight: 900;
}

p{
    text-align: justify;
}

p::first-letter {
    font-size: xx-large;
}

li{
    list-style-type: none;
}

.youtube-videos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#tbl{
    border: 1px solid black;
}

.cell{
    border: 1px solid black;
}

/* Header */
/* Carousel index Page */
.carousel {
    padding-top: 150px;
    width:70%;
    margin: auto;
}
#welcome-image{
    height: 600px;
    margin: auto;
    border-radius: 10px;
}

.navbar-collapse{
    margin-left: 70%;
}


/* Footer */
footer {
    background-color: #8fc0a9;
    color: white;
}

.footer-copyright {
    background-color: #68b0ab;
}

#logo{
    height: 100px;
}





#main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content{
    padding-top: 30px;
    background-color: white;
    width: 70%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;  
}

#content-contact{
    width: 40%;
    margin: auto;
    margin-top: 150px;
    background-color: white;
    padding: 30px 70px 50px 70px;
    border-radius: 3px;
}

#content-auth{
    width: 40%;
    margin: auto;
    margin-top: 150px;
    height: 600px;
    background-color: white;
    padding: 50px 70px 50px 70px;
    border-radius: 3px;
}


/* Card elements */
.card-content{
    padding-top: 30px;
    background-color: white;
    width: 70%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;  
}

.card{
    margin: 10px;
}

.card-img-top{
    height: 200px;
}
